/TesseractForNetDemo/bin
/TesseractForNetDemo/obj
packages/EntityFramework.5.0.0/Content/App.config.transform
packages/EntityFramework.5.0.0/Content/Web.config.transform
packages/EntityFramework.5.0.0/EntityFramework.5.0.0.nupkg
packages/EntityFramework.5.0.0/lib/net40/EntityFramework.dll
packages/EntityFramework.5.0.0/lib/net40/EntityFramework.xml
packages/EntityFramework.5.0.0/lib/net40/zh-Hans/EntityFramework.resources.dll
packages/EntityFramework.5.0.0/lib/net40/zh-Hans/EntityFramework.xml
packages/EntityFramework.5.0.0/lib/net45/EntityFramework.dll
packages/EntityFramework.5.0.0/lib/net45/EntityFramework.xml
packages/EntityFramework.5.0.0/lib/net45/zh-Hans/EntityFramework.resources.dll
packages/EntityFramework.5.0.0/lib/net45/zh-Hans/EntityFramework.xml
packages/EntityFramework.5.0.0/tools/about_EntityFramework.help.txt
packages/EntityFramework.5.0.0/tools/EntityFramework.PowerShell.dll
packages/EntityFramework.5.0.0/tools/EntityFramework.PowerShell.Utility.dll
packages/EntityFramework.5.0.0/tools/EntityFramework.PS3.psd1
packages/EntityFramework.5.0.0/tools/EntityFramework.psd1
packages/EntityFramework.5.0.0/tools/EntityFramework.psm1
packages/EntityFramework.5.0.0/tools/init.ps1
packages/EntityFramework.5.0.0/tools/install.ps1
packages/EntityFramework.5.0.0/tools/migrate.exe
packages/EntityFramework.5.0.0/tools/Redirect.config
packages/EntityFramework.5.0.0/tools/Redirect.VS11.config
packages/EntityFramework.zh-Hans.5.0.0/EntityFramework.zh-Hans.5.0.0.nupkg
packages/EntityFramework.zh-Hans.5.0.0/lib/net40/zh-Hans/EntityFramework.resources.dll
packages/EntityFramework.zh-Hans.5.0.0/lib/net40/zh-Hans/EntityFramework.xml
packages/EntityFramework.zh-Hans.5.0.0/lib/net45/zh-Hans/EntityFramework.resources.dll
packages/EntityFramework.zh-Hans.5.0.0/lib/net45/zh-Hans/EntityFramework.xml
